name: Build VCV Rack Plugin (Manual)

permissions:
  contents: read

on:
  workflow_dispatch:

env:
  rack-sdk-version: latest
  rack-plugin-toolchain-dir: /home/build/rack-plugin-toolchain

defaults:
  run:
    shell: bash

jobs:

  modify-plugin-version:
    name: Modify plugin version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        id: plugin-version-cache
        with:
          path: plugin.json
          key: ${{ github.sha }}-${{ github.run_id }}

      - run: |
          gitrev=$(git rev-parse --short HEAD)
          pluginversion=$(jq -r '.version' plugin.json)
          echo "Set plugin version from $pluginversion to $pluginversion-$gitrev"
          jq --arg VERSION "$pluginversion-$gitrev" '.version=$VERSION' plugin.json > plugin.json

  build:
    name: ${{ matrix.platform }}
    needs: modify-plugin-version
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/qno/rack-plugin-toolchain-win-linux
      options: --user root
    strategy:
      matrix:
        platform: [win-x64, lin-x64]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/cache@v4
        id: plugin-version-cache
        with:
          path: plugin.json
          key: ${{ github.sha }}-${{ github.run_id }}

      - name: Build plugin
        run: |
          export PLUGIN_DIR=$GITHUB_WORKSPACE
          pushd ${{ env.rack-plugin-toolchain-dir }}
          make plugin-build-${{ matrix.platform }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.rack-plugin-toolchain-dir }}/plugin-build
          name: ${{ matrix.platform }}
          overwrite: true

  build-mac:
    name: mac-${{ matrix.platform }}
    needs: modify-plugin-version
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [x64, arm64]

    env:
      rack-sdk-version: 2.6.4

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/cache@v4
        id: plugin-version-cache
        with:
          path: plugin.json
          key: ${{ github.sha }}-${{ github.run_id }}

      - name: Get Rack-SDK
        run: |
          pushd $HOME
          if [[ "${{ matrix.platform }}" == "x64" ]]; then
            wget -O Rack-SDK.zip https://vcvrack.com/downloads/Rack-SDK-${{ env.rack-sdk-version }}-mac-x64.zip
          else
            wget -O Rack-SDK.zip https://vcvrack.com/downloads/Rack-SDK-${{ env.rack-sdk-version }}-mac-arm64.zip
          fi
          unzip -o Rack-SDK.zip

      - name: Build plugin
        run: |
          export RACK_DIR=$HOME/Rack-SDK
          make clean
          make dep
          if [[ "${{ matrix.platform }}" == "x64" ]]; then
            arch -x86_64 make dist
          else
            make dist
          fi

      - name: Get version from plugin.json
        id: get_version
        run: |
          VERSION=$(jq -r .version plugin.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Rename .vcvplugin for platform
        run: |
          mkdir -p dist-${{ matrix.platform }}
          for file in dist/*.vcvplugin; do
            if [[ "${{ matrix.platform }}" == "x64" ]]; then
              mv "$file" "dist-${{ matrix.platform }}/JW-Modules-${{ steps.get_version.outputs.version }}-mac-x64.vcvplugin"
            else
              mv "$file" "dist-${{ matrix.platform }}/JW-Modules-${{ steps.get_version.outputs.version }}-mac-arm64.vcvplugin"
            fi
          done

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: dist-${{ matrix.platform }}/*.vcvplugin
          name: mac-${{ matrix.platform }}
          overwrite: true
